@import "~materialize-css/dist/css/materialize.min.css";

body {
  margin: 0;
  padding: 0;
}

.todo {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  background: #f3f3f3;
}

.todo.completed span {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
}

.todo i {
  cursor: pointer;
  padding: 1rem;
  z-index: 2;
}

